@media screen and (min-width: 768px) {
    body {
        background-image: linear-gradient(to top, #78ffffdb, purple);
    }

    main {
        width: 90vw;
        height: 50%;
        padding: 0;
    }

    main #imagem {
        float: left;
        width: 50%;
        height: 110%;
    }

    main #login {
        float: right;
        width: 48%;
        padding: 10px;
    }
}