* {
            margin: 0px;
            padding: 0px;
}

body {
    background-color: #6c1414;
    overflow-x: hidden;
}

img {
    width: 100vw;
}

a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    text-decoration: underline;
}