@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 215px;
    height: 380px;
    z-index: 1; /*NOVO*/
}

#imagem-celular {
    position: absolute;
    width: 250px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#botoes img {
    display: block;
    width: 50px;
    border-radius: 50%;
    margin: 15px 10px;
    text-align: right;
    margin-left: auto; /*NOVO*/
}