@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #f1d8c9, #f2c3a7);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #80685aa9;
    width: 500px;
    padding: 10px;
    margin: auto
}

h1 {
    text-align: center;
    color: #F39209;
    text-shadow: 1px 1px 2px #693f04c7;
}

h2 {
    color: #125189;
}

p {
    text-align: justify;
}