@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url('../images/espaco.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
}

#astronauta {
    position: absolute;
    max-width: 50%;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}