@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

header h1, header div {
    color: white;
}

header h1 {
    text-shadow: 1px 1px 1px black;
}

header div {
    background-color: black;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

div:hover {
    background-color: white;
    color: black;
    transition: background-color .5s;
}

main {
    background-color: white;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #00000089;
    max-width: 600px;
    display: block;
}

@media screen and (max-width: 524px) {
    header {
        flex-flow: column nowrap
    }

    header h1 {
        text-align: center;
        margin-bottom: 5px;
    }

    nav {
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
    }

    div {
        text-align: center;
    }
}