@charset 'UTF-8';

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 99vw;
    height: 100vh;
}

div#telefone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

iframe {
    background-color: white;
    position: absolute;
    left: 22px;
    top: 80px;
    width: 266px;
    height: 472px;

}

#redes-sociais {
    text-align: right;
}

#redes-sociais > a > img {
    width: 47px;
    margin-top: 15px;
    border-radius: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.633);
    box-sizing: border-box;
}

#redes-sociais > a > img:hover {
    border: 2px solid #ffffffd8;
    transform: translate(-3px, -3px);
    transition: 0.1s;
}