@charset 'UTF-8';

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 99vw;
    height: 100vh;
}

div#telefone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

iframe {
    position: absolute;
    left: 22px;
    top: 80px;
    width: 266px;
    height: 472px;

}

#redes-sociais {
    margin-left: 93%;
}

#redes-sociais > a > img {
    width: 47px;
    border-radius: 100%;
    margin-top: 10px;
}

#redes-sociais > a > img:hover {
    border: 2px solid white;
}