@charset "UTF-8";

/* PARA TELAS */

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #a8a8a8;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style-type: none; /*NOVO*/
    background-color: gray;
}

nav li {
    display: inline-block;
    padding: 10px;
}

article {
    width: 600px;
    margin: auto;
}

article p {
    text-align: justify;
}