@charset "UTF-8";

/*CONFIGURAÇÕES GERAIS*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px #00000075;
    padding: 10px
}