@charset 'UTF-8';

/*
Paleta de cores - Gustavo Guanabara

#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&display=swap');

@font-face {
    font-family: 'Idroid';
    src: url(fontes/idroid.otf);
}

body {
    background-color: #7EAA7D;
    margin: 0px;
}


main > picture > img, source {
    width: 100%;
}

img.bugdroid {
    max-width: 350px;
    display: block;
    margin: auto;
}

header {
    background-image: linear-gradient(to top, #1E331D, #6DFF67);
    padding-bottom: 15px;
}

header > h1 {
    text-align: center;
    font-family: 'Bebas Neue';
    margin-top: 0;
    color: rgba(255, 255, 255, 0.851);
    font-size: 3em;
    font-weight: normal;
    padding-top: 20px;
    margin-bottom: 20px;
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.827);
    margin-top: 0px;
    margin-bottom: 30px;
}

header > nav > a {
    color: rgba(191, 255, 183, 0.726);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550 ;
    text-decoration: none;
    padding: 10px;
    transition-duration: .5s;
}

header > nav > a:hover {
    background-color: rgba(191, 255, 183, 0.726);
    color: #1E331D;
    text-decoration: underline;
    border-radius: 4px;
}

header > nav {
    margin-left: 20px;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    border-radius: 10px;
    padding-bottom: 1px;
    padding-top: 3px;
    margin: auto
}

main > h1 {
    font-family: 'Idroid';
    color: #1E331D;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
}

main  h2 {
    font-family: 'Idroid';
    color: #1E331D;
    background-image: linear-gradient(to right, #7bd57881, white);
    padding-left: 15px;
    padding-right: 15px;
}

main  p, li {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 15px;
    text-align: justify;
    line-height: 2em;
}



main #aprender {
    background-color: #3F553E;
    padding: 0.5px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main > div > #aprender > p {
    color: white;
    font-weight: bold;
}

main #texto {
    background-color: #738073;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 5px;
}

main #texto a {
    color: #1E331D;
    font-weight: bold;
    text-decoration: none;
}

main #texto a::after {
    content: ' \1F517';
}

main > div > #texto > p > a:hover {
    text-decoration: underline;
}

main > #tabela {
    min-width: 350px;
    max-width: 750px;
    margin: auto;
    padding: 0px 10px;
}

footer > p {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1E331D;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 15px;
}

main > p > a {
    color: #1E331D;
    font-weight: bold;
    background-color: #7bd57881;
    text-decoration: none;
}

main > p > a::after {
    content: ' \1F517';
}

main > p > a:hover {
    text-decoration: underline;
}

main ul {
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}

/*#video iframe {
    position: absolute;
    display: block;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin: auto;
}
*/

/*section#video {
    position: relative;
    background-color: #1d2b1d;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
}
*/

section#video {
    background-color: #1d2b1d;
    margin-bottom: 20px;
    padding: 20px 20px;
    padding-bottom: 59%;
    position: relative;
}

section#video > iframe {
    position: absolute;
    top: 9%;
    left: 5%;
    width: 90%;
    height: 82%;
}

footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
}

.destaque {
    color: #1d2b1d;
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    header > nav > a {
        padding: 3px;
    }
}
