@charset "UTF-8";

/*
Typical Devices Breakpoints

Pequenas telas: até 600px
Celular: 600px - 767px
Tablet: 768px - 991px
PC: 992px - 1199px
Telas Grandes: Acima de 1200px
*/

@media print {
    body {
        background-image: url('../images/back-print.jpg'); /*Desnecessário*/
    }

    #impressora {
        display: block;
    }

    #celular {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    /*Tablet*/
    body {
        background-image: url('../images/back-tablet.jpg');
    }

    #celular {
        display: none;
    }

    #tablet {
        display: block;
    }
    
}
 
@media screen and (min-width: 992px) {
    /*PC*/
    body {
        background-image: url('../images/back-pc.jpg');
    }

    #tablet {
        display: none;
    }

    #pc {
        display: block;
    }
}
 
@media screen and (min-width: 1200px) {
    /*Telas grandes*/
    body {
        background-image: url('../images/back-tv.jpg');
    }

    #pc {
        display: none;
    }

    #tv {
        display: block;
    }
    
}
 