@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/back-phone.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 10px;
}

main {
    background-color: #ffffffa4;
    max-width: 400px;
    text-align: center;
    margin: 10px auto;
}

main h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0px;
}

img { margin: auto; }

#celular { display: block; }
#tablet { display: none; }
#impressora { display: none; }
#pc { display: none; }
#tv { display: none; }