@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: white;
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-card: white;
}

body {
    background-color: var(--fundo-principal);
    line-height: 2em;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: var(--destaque);
}

header {
    background-color: var(--destaque);
    position: sticky;
    top: 0;
    left: 0;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    z-index: 1000;
    ;
}

header ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
    gap: 15px;
    
}

header li {
    padding: 1px 5px;
    border-radius: 3px;
}

header .material-symbols-outlined {
    color: var(--fundo-principal);
}

header li:hover {
    background-color: var(--destaque-inverso);
    color: var(--destaque);
    transition: background-color 0.3s;
}

main {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto 90vw auto;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    gap: 20px;

}

a {
    text-decoration: none;
}

#ficha, main article {
    background-color: var(--fundo-card);
    padding: 10px;
    border-radius: 15px;
    grid-column: 2;
}

article {
    background-color: var(--fundo-card);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}

#foto-perfil {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 200px;
    /*aspect-ratio: 1/1; -> Define a proporção da foto*/
    /*object-fit: cover; -> funciona da mesma forma do que nas imagens de fundo*/
    overflow: hidden; /*Sora fica escondida*/
    border-radius: 50%;
    border: 5px solid var(--destaque);
    padding: 5px;
    
}

h1 {
    margin: 15px 0px;
    color: var(--destaque);
}

#icons-ling {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#icons-ling svg {
    color: var(--destaque);
    width: 25px;
    height: 25px;
}

#icons-ling svg:hover {
    color: var(--destaque-inverso);
    transition: color 0.5s;
}

#detalhes {
    grid-area: 2 / 2 / span 1 / span 1;
}

#mao-apresentacao {
    font-size: 1em;
    color: var(--destaque);
}

.video-container {
    position: relative;
    width: 100%;
    margin: auto;
    aspect-ratio: 16/9;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.skill-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.skill-container .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-container .nome {
    font-weight: bold;
    color: var(--texto);
}

.skill-container .porcent {
    font-weight: bold;
    color: var(--destaque);
}

.skill-container .barra {
    width: 100%;
    height: 10px;
    background-color: var(--fundo-principal);
    border-radius: 4px;
}

.skill-container .progresso {
    height: inherit;
    background-color: var(--destaque-inverso);
    border-radius: inherit;
}